<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>

		<!-- PASEF settings -->
		<!-- I/O Tables -->
		<add key ="basePopTable" value ="dbo.pasef_ct"/>
		<add key ="ctTable" value ="dbo.pasef_ct"/>
		<add key ="ct10Kids" value ="dbo.census2010_ct_kids"/>
		<add key ="defmPop" value ="dbo.pop_defm"/>
		<add key ="distributionHHWorkersRegion" value = "dbo.distribution_HHworkers_region"/>
		<add key ="distributionHHWOC" value ="dbo.distribution_HH_wo_children"/>
		<add key ="enrollment" value ="dbo.pasef_enrollment_mgra"/>
		<add key ="errorFactorsHHSCT" value ="dbo.error_factors_HHSDetail"/>

		<add key ="MGRABase" value ="dbo.mgrabase"/>
		<add key ="overridesHHSdetail" value ="dbo.overrides_HHSdetail"/>
		<add key ="pasefHHdetailCT" value ="dbo.pasef_HHdetail_ct"/>
		<add key ="pasefHHdetailMGRA" value ="dbo.pasef_HHdetail_mgra"/>
		<add key ="pasefMGRA" value ="dbo.pasef_mgra"/>
		<add key ="pasefMGRATab" value ="dbo.pasef_mgra_tab"/>
		<add key ="pasef_update_tab_proc" value ="dbo.update_pasef_mgra_tab"/>
		<add key ="regFcst" value ="dbo.reg_fcst"/>
		<add key ="special_pop_tracts" value ="dbo.special_pop_tracts"/>
		<add key ="sraShare" value ="dbo.pasef_sra_chgshr"/>
		<add key ="sraTable" value ="dbo.pasef_sra"/>
		<add key ="xref" value ="dbo.xref_mgra_sr13"/>

		<!-- Global Constants -->
		<add key="MAX_CHAR" value ="320"/>
		<!--Ethnicity, sex, age combo -->
		<add key="MAX_AGE_GROUPS" value ="20"/>
		<!--Max number of columns in update calls -->
		<add key="MAX_MGRAS_IN_CT" value ="474"/>
		<!--Max MGRAs in CT -->
		<add key="MAX_CTS_IN_SRA" value ="42"/>
		<!--max cts in SRA -->
		<add key="NUM_AGE" value ="20"/>
		<!--Age groups -->
		<add key="NUM_CTS" value ="627"/>
		<!--num CTs -->
		<add key="NUM_HHWORKERS" value ="4"/>
		<!-- number of HH worker categories-->
		<add key="NUM_HHXS" value ="7"/>
		<!-- number of HH X size categories-->
		<add key="NUM_MGRAS" value ="23002"/>
		<!--num mgras -->
		<add key="NUM_ETH" value ="9"/>
		<!-- Number of ethnic groups- 0 stores total -->
		<add key="NUM_SEX" value ="3"/>
		<!--Number of sex groups- 0 stores total -->
		<add key="NUM_SRA" value ="41"/>
		<!--num sra -->

		<!-- ascii output files -->
		<add key ="networkPath" value ="\\hana\home\shared\res\estimates &amp; forecast\sr13 forecast\temp\pasef\"/>
		<add key ="ct_debug" value ="ct_debug.txt"/>
		<add key ="mgra_debug" value ="mgra_debug.txt"/>
		<add key ="sra_debug" value ="sra_debug.txt"/>
		<add key ="ct_ascii" value ="ct_temp.txt"/>
		<add key ="mgra_ascii" value ="mgra_temp.txt"/>
		<add key ="mgra_tab_ascii" value ="mgra_tab_temp.txt"/>
		<add key ="sra_ascii" value ="sra_temp.txt"/>

		<!-- Queries -->
		<!--PASEF-->
		<add key ="bulkInsert" value ="BULK INSERT {0} FROM '{1}' WITH (FIELDTERMINATOR = ',',firstrow = 1)"/>
		<add key ="deleteFrom" value="delete from {0} where scenario = {1} and year = {2}"/>
		<add key ="selectSimple" value ="select * from {0}"/>
		<add key ="selectCTList" value=" SELECT DISTINCT ct10, sra FROM {0} order by ct10"/>
		<add key ="selectBasePop" value ="SELECT * FROM {0} where ethnicity &gt; 0 and scenario = {1} and year = {2}"/>
		<add key ="selectTotalPop" value ="SELECT s.MGRA, sra, ct10, pop FROM {0} s, {1} x where x.MGRA = s.MGRA and scenario = {2} and  increment = {3} ORDER BY ct10, pop"/>
		<add key ="selectDEFMPop" value ="SELECT * FROM {0} WHERE scenario = {1} and year = {2}"/>
		<add key ="updateSRATable" value ="UPDATE {0} SET pop = nspop + spop where scenario = {1} and year = {2}"/>

		<!-- PDHH-->
		<!-- PDHH Queries -->
		<add key ="insertInto" value ="insert into {0} {1}"/>
		<add key ="selectAllWhere1" value ="select * from {0} where year = {1}"/>

		<add key ="selectHHS" value ="select hhs1,hhs2,hhs3,hhs4,hhs5,hhs6,hhs7,hh,hhp,hhwoc,hhwc,hhworkers0,hhworkers1,hhworkers2,hhworkers3 from {0} where year = {1}"/>
		<add key ="selectPDHH1" value ="select sum(hh),sum(hhp) from {0} where increment = {1}"/>
		<add key ="selectPDHH2" value ="Select x.ct10,sum(hh),sum(hhp) from {0} m, {1} x where x.mgra = m.mgra and increment = {2} group by x.ct10 order by x.ct10"/>
		<add key ="selectPDHH3" value ="Select * from {0} where year = {1} order by ct10"/>
		<add key ="selectPDHH4" value ="select * from {0} order by ct10"/>
		<add key ="selectPDHH5" value ="Select ct10,sum(pop) from {0} where age &lt; 18 and ethnicity = 0 and year = {1} group by ct10 order by ct10"/>
		<add key ="selectPDHH6" value ="select x.mgra,hh,hhp from {0} m, {1} x where x.ct10 = {2} and x.mgra = m.mgra and m.increment = {3}"/>

		<!-- enrollment queries-->
		<add key ="selectEN1" value="select enroll_K8,enroll_HS,enroll_MajCol,enroll_OtherCol,enroll_AdultEd from {0} where scenario = {1} and year = {2}"/>
		<add key ="selectAllWhere2" value ="select * from {0} where scenario = {1} and year = {2}"/>
	</appSettings>
	<connectionStrings>

		<add name="SR13DBConnectionString" connectionString="Data Source=foo;Initial Catalog=sr13;User ID=foo;Password=foo" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>